<div *ngIf="_data.currentView == 'player'">
  <p>player!!!!</p>

  <div class="container mt-5">
    <div class="row">
      <!-- <h2>{{_data.currentSong["title"]}}</h2> -->

      <div class="col-md-4 col-sm-12 text-center">
        <audio controls class="audio-bg mt-5">
          <source [src]="_data.currentSong['src']" type="audio/mpeg">
        </audio>
        <div><button class="btn btn-danger btn-back" (click)="back()">Back</button></div>
      </div>
      <div class="col-md-8 col-sm-12">
        <h4>{{_data.currentSong["title"]}}</h4>
        <h5>{{_data.currentSong["author"]}}</h5>
        <h5>{{_data.currentSong["album"]}}</h5>

        <p>{{_data.currentSong["year"]}}</p>
        <div class="row">            
            <div [ngClass]='_data.currentSong["lyrics"]["translation"] == "" ? "col-12" : "col-md-6 col-sm-12"'>
                    <h4>Original lyrics</h4>
                    <p class="lyrics">{{_data.currentSong["lyrics"]["original"]}}</p>
            </div>
            <div class="col-md-6 col-sm-12" *ngIf='_data.currentSong["lyrics"]["translation"] != ""'>
                    <h4>Translated lyrics</h4>
                    <p class="lyrics">{{_data.currentSong["lyrics"]["translation"]}}</p>
            </div>
        </div>
        <!-- <p style="width: 50%;white-space: pre-line">{{_data.currentSong["lyrics"]}}</p> -->

      </div>
      <div></div>
    </div>
  </div>
</div>
