* {
  box-sizing: border-box;
}
.lyrics {
  white-space: pre-line;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

audio{
  display: none;
}

.player-icon{
  width: 50px;
  height: auto;
  cursor: pointer;
  margin: 5px 10px;
}
.player-icon:active{
  width: 45px;  
  height: auto;

}

.songTiming {
  color: white;
}

*{
    color: white;
}