<!-- <nav class="navbar navbar-expand-sm navbar-dark">
  <div class="row">
    <div class="page-flows col-3">
      <i class="fas fa-chevron-left arrow"></i>
      <i class="fas fa-chevron-right arrow"></i>
    </div>
    <div class="col-md-6 col-sm-9">
      <input type="text" id="searchInput" placeholder="Buscar">
    </div>
  </div>

</nav> -->

<nav>
  <ul>
    <li>
      <div><a aria-current="page" href="/browse/featured">SELECCIONADOS</a></div>
    </li>
    <li>
      <div><a href="/browse/podcasts">PODCASTS</a></div>
    </li>
    <li>
      <div><a href="/browse/charts">LISTAS DE ÉXITOS</a></div>
    </li>
    <li>
      <div><a href="/browse/genres">GÉNEROS Y ESTADOS DE ÁNIMO</a></div>
    </li>
    <li>
      <div><a href="/browse/newreleases">NOVEDADES</a></div>
    </li>
    <li>
      <div><a href="/browse/discover">DESCUBRIR</a></div>
    </li>
  </ul>
</nav>




<app-song-list></app-song-list>
<app-player></app-player>
