<div *ngIf="_data.currentView == 'song-list'">
  <h2 class="mt-5  title">Novedades</h2>
  <div class="container">

    <div class="row">
      <div class="" *ngFor="let element of _data.arrSongs; let i = 'index'">
        <figure class="card card-product bg-transparent border-0">
          <div class="img-wrap"><img src="{{element['img']}}" (click)="playSong(i)"></div>
          <figcaption class="info-wrap">
            <h6 class="songTitle">{{element["title"]}}</h6>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <h2 class="mt-5  title">Listas de éxitos</h2>
  <div class="container">

    <div class="row">
      <div class="" *ngFor="let element of _data.arrSongs; let i = 'index'">
        <figure class="card card-product bg-transparent border-0">
          <div class="img-wrap"><img src="{{element['img']}}" (click)="playSong(i)"></div>
          <figcaption class="info-wrap">
            <h6 class="songTitle">{{element["title"]}}</h6>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
